  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .left{
    width: 15%;
    float: left;
    height: 100%;
    border: whitesmoke 1px solid;
    left: auto;
    height: 640px;
    display: flex;
    flex-direction: column;
  }